        #parrafo_1 {color:#C0E800;}
        #parrafo_2 {color:white;}
        #parrafo_3 {color:white;}
        #parrafo_4 {color:white;}
        #parrafo_5 {color:white;}
        .grupo_1 {background-color:white;}
        .grupo_2 {background-color:#A18EFF;}
        .grupo_3 {background-color:#A39E0D;}
